<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <DotIDE.Properties.Settings>
            <setting name="dotPath" serializeAs="String">
                <value>C:\Program Files (x86)\Graphviz2.38\bin\dot.exe</value>
            </setting>
            <setting name="outFmt" serializeAs="String">
                <value>svg</value>
            </setting>
            <setting name="dotExampPath" serializeAs="String">
                <value>C:\Program Files (x86)\Graphviz2.38\share\graphviz\graphs\</value>
            </setting>
            <setting name="maxRecent" serializeAs="String">
                <value>10</value>
            </setting>
        </DotIDE.Properties.Settings>
    </userSettings>
</configuration>
